#root{
  --white: #FFFFFF;
  --gray-600: #4E4D4D;
  --gray-800: #343434;
  --gray-950: #151515;
  --green-500: #66FF7F;
  --red-500: #FF5959;
}
body{
  background: url(assets/01-caculator.png), lightgray 50% / cover no-repeat;
}
button{
  font-family: 'Inter', sans-serif;
}